<!-- <script src="static/js/imagens.js"></script>
<link rel="stylesheet" type="text/css"  href="/static/css/imagens.css"/>

<ul id="listaImagens">
</ul>
<br/>
<select id="selectDisabled" disabled="disabled">
  <option value="">Escolhe uma opcao</option>
</select>
<br/>
<div id="result">
</div> -->
	<form method="post" id="selectform" action="">{% csrf_token %}
		<div id = "categoria">
			{{ form.categoria }}
		</div>
		<div id = "ano">
			{{ form.ano }}
		</div>
		<div id = "mes">
			{{ form.mes }}
		</div>
	</form>
{% for gasto in gastos %}
	<img src="/media/{{ gasto.imagem }}" width="150px">
	<p>{{ gasto.nome }} - {{ gasto.partido }} - {{ gasto.soma }}</p>
{% endfor %}
<p><img src="/media/{{ categoriaMaiorGasto.0.imagem }}" width="50px">
{{ categoriaMaiorGasto.0.nome }}
{{ categoriaMaiorGasto.0.soma }}</p>
<p>{{ partidoMaiorGasto.0.partido }}
{{ partidoMaiorGasto.0.soma }}</p>
