{% for gasto in gastos %}
	<p>{{ gasto.senador.nome }} - {{ gasto.categoria.nome }}</p>
	{{ gasto.gasto }} - {{ gasto.mes }} - {{ gasto.ano }} 
{% endfor %}
<p>Total de todos os gastos: {{ total }}</p>